@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  .link-profession {
    width: 40px;
    height: 40px;
  }

  .form-footer-inp {
    width: 398px;
  }

  .modal-window {
    width: 392px;
  }
}
/* !=====================tab-style================================= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .address {
    font-style: normal;
    display: inline;
    margin-left: auto;
  }

  .container-nav {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .current::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    top: 100%;
    transform: translateY(-100%);
    left: 0;
    bottom: -1px;
  }

  .address-item {
    padding: 0;
    /* padding-top: 24px;
    padding-bottom: 24px; */
  }

  .address-info {
    line-height: 1.7;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
  }

  .button-open-mob-menu,
  .menu-mob {
    display: none;
  }

  .section-subject {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bacgraund-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-subject {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bacgraund-tab-2x.jpg);
    }
  }

  .container-subject {
    height: 436px;
    gap: 36px;
  }

  .title {
    color: var(--background);
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    font-size: 56px;
  }

  .list-advantages {
    column-gap: 24px;
  }

  .item-advantages {
    width: calc((100% - 24px) / 2);
  }

  .title-team-list {
    flex-direction: row;
    justify-content: center;
    gap: 62px 24px;
    flex-wrap: wrap;
  }

  .list-customers {
    gap: 72px 24px;
  }

  .item-list-customers {
    width: 168px;
    flex-basis: calc((100% - 48px) / 3);
  }

  .form-footer-wrap {
    text-align: start;
  }

  .form-footer-inp {
    width: 264px;
  }

  .form-footer {
    gap: 24px;
    flex-direction: row;
  }

  .wraper-foter-light {
    align-items: start;
  }

  .wraper-foter-centr {
    /* margin-right: 80px; */
    margin: 0;
    text-align: start;
  }

  .modal-window {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }

  .section-filter {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .section-filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-right: 0;
  }

  .list-filter {
    column-gap: 24px;
    row-gap: 72px;
    padding-top: 64px;
    flex-direction: row;
  }

  .upper-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .list-customers {
    max-width: 552px;
    margin: 0 auto;
  }
  .cont-footer {
    flex-direction: row;
    padding-left: 108px;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .tab {
    flex-direction: column;
    gap: 12px;
  }
}

/* **=======================desctop-style========================== */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .address-item {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .address-info {
    line-height: 1.5;
    font-size: 16px;
  }

  .section-subject {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bacgraund.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-subject {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bacgraund-2x.jpg);
    }
  }

  .container-subject {
    height: 600px;
    gap: 48px;
  }

  .section-heading {
    padding: 120px 0;
  }

  .list-advantages {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .item-advantages {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 72px) / 4);
  }

  .item-advantages-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
  }

  .subtitle {
    color: var(--background-footer);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: start;
  }

  .subtitle-text {
    font-weight: 400;
  }

  .section-headline {
    display: block;
    padding-bottom: 120px;
  }

  .benefits {
    color: var(--background-footer);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .benefits-list {
    padding-top: 72px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .benefits-item {
    width: calc((100% - 48px) / 3);
  }

  .section-caption {
    padding: 120px 0;
  }

  .section-customers {
    padding: 120px 0;
  }

  .item-list-customers {
    flex-basis: calc((100% - 120px) / 6);
  }

  .cont-footer {
    flex-direction: row;
  }

  .footer {
    padding: 100px 0;
  }
  .wraper-foter-light {
    margin-right: 120px;
  }

  .wraper-foter-centr {
    margin-right: 80px;
  }

  .section-filter {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .section-filter-list {
    display: flex;
    margin-bottom: 72px;
  }

  .list-filter {
    padding-top: 0;
    row-gap: 48px;
  }

  .upper-item {
    width: calc((100% - 48px) / 3);
  }

  .section-filter-item {
    padding: 12px 24px;
  }

  .filter-button {
    padding: 12px 24px;
  }
}
