:root {
  --brand-color: #4d5ae5;
  --shadows-color: #2e2f42;
  --background: #ffffff;
  --cloud: #f4f4fd;
  --background-footer: #2e2f42;
  --color-accent: #e7e9fc;
  --subtle-text: #8e8f99;
  --dair: #fcfcfc;
  --ocean: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--background);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

section {
  width: 100%;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* &&========================HEADER======================================== */

.header {
  width: 100%;
  border-bottom: 1px solid var(--color-accent);
  background: var(--background);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-hed {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-link {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 76px;
}

.logo {
  color: var(--shadows-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-nav-filter {
  display: none;
}

.focused:hover,
.focused:focus {
  color: #404bbf;
}

.navigation-item {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  display: none;
}

.list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-footer);
}

.address {
  display: none;
}

.address-info {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: currentColor;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*^========================MOB_MENU======================================== */

.menu-mob {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 24px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  overflow: auto;
  transition: transform 250ms ease-in-out;
}

.menu-mob.is-hidden {
  transform: translateX(0) scaleY(0);
}

.button-open-mob-menu {
  width: 32px;
  height: 22px;
  border: none;
  background: #ffffff;
  padding: 0;
}

.close-button-mob-menu {
  margin-left: auto;
  display: flex;
  fill: var(--color-accent);
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 32px;
}

.close-button {
  fill: var(--background-footer);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrap-mob {
}

.list-mob {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.list-link-mob {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--background-footer);
}

.current {
  position: relative;
  color: #404bbf;
}

.address-item-mob {
  margin-bottom: 40px;
}

.address-item-mail {
  margin-bottom: 48px;
}

.address-info-mob {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info-mail {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434445;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* **==========================section-subject============================= */

.section-subject {
  margin: auto;
  background-color: var(--background-footer);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bacgraund-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-subject {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bacgraund-mob-2x.jpg);
  }
}

.container-subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
  max-width: 1440px;
  margin: 0 auto;
  height: 432px;
}

.title {
  color: var(--background);
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  max-width: 320px;
}

.title-button {
  font-family: 'Roboto', sans-serif;
  color: var(--background);
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: var(--brand-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 23px;
  border-radius: 4px;
  min-width: 169px;
  border: none;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
  color: var(--background);
}

/* !==========================SECTION-HEADING================================== */

.section-heading {
  padding: 96px 0;
}

.list-advantages {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.item-advantages-icon {
  display: none;
}

.subtitle {
  color: var(--background-footer);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.subtitle-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

/* **======================SECTION-HEADLINE==================================*/
.section-headline {
  display: none;
}

/* &&=========================SECTION_CAPTION================================ */

.section-caption {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.title-team {
  color: var(--background-footer);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.title-team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  gap: 72px;
}

.title-team-list .title-team-item:hover .link-profession {
  background-color: #404bbf;
}

.title-team-item {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.title-team-item:last-child {
  gap: 0;
}

.employee {
  padding: 32px 12px;
}

.name {
  color: var(--background-footer);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.profession {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.profession-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.profession-icon-item {
  width: calc((100% - 72px) / 4);
}

.link-profession:focus {
  background-color: #404bbf;
}

.link-profession {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--brand-color);
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: var(--cloud);
}

/* ^====================section-customers======================================== */

.section-customers {
  background-color: #ffffff;
  padding: 96px 0;
}

.title-customers {
  color: var(--background-footer);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-customers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.item-list-customers {
  flex-shrink: 0;
  border-radius: 4px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: calc((100% - 16px) / 2);
  width: 190px;
  height: 88px;
}

.link-item-customers {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text);
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item-customers:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.link-item-customers:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.item-list-customers:hover .icon-customers,
.item-list-customers:focus .icon-customers {
  fill: #404bbf;
}

.icon-item-list-customers {
  fill: currentColor;
}

.icon-customers {
  fill: #8e8f99;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ~===========================FOOTER===================================== */

.footer {
  background-color: var(--background-footer);
  padding: 96px 0;
  display: flex;
}

.cont-footer {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.wraper-foter-light {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-logo {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 17px;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  color: var(--cloud);
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 268px;
  height: 72px;
}

.wraper-foter-centr {
  margin: 0 auto;
  text-align: center;
}

.title-socmed {
  color: var(--background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.list-socmed {
  display: flex;
  gap: 16px;
}

.item-socmed {
  width: 40px;
  height: 40px;
}

.item-socmed-link {
  background-color: var(--brand-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-socmed-link:hover {
  background-color: #31d0aa;
}

.item-socmed-link:focus {
  background-color: #31d0aa;
}

.wrap-icon-socmed {
  fill: var(--cloud);
}

.form-footer-wrap {
  text-align: center;
}

.form-footer-title {
  margin-bottom: 16px;
  color: var(--background);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.form-footer {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.form-footer-inp {
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  padding-left: 16px;
  color: var(--background);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-footer-inp::placeholder {
  color: var(--background);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.button-form-footer {
  width: 165px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 4px;
  border: none;
  color: var(--background);
  fill: var(--background);
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.icon-footer-mail {
  margin-left: 16px;
}

/* !!==========================BACKDROP=================================== */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--dair);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
}

.close-button {
  fill: var(--background-footer);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  display: flex;
  fill: var(--cloud);
  background-color: var(--color-accent);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: transform 250ms;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
  background-color: var(--ocean);
  border: none;
}

.modal-close-button:focus {
  background-color: var(--ocean);
  border: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-button:hover .close-button {
  fill: #ffffff;
}

.modal-close-button:focus .close-button {
  fill: #ffffff;
}

.form-modal {
}

.form-tytle {
  color: var(--background-footer);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.wrap-term {
  margin-bottom: 8px;
}

.label-form {
  display: block;
  margin-bottom: 4px;
  color: var(--subtle-text);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
}

.wrap-icon-form {
  position: relative;
  margin-bottom: 16px;
}

.input-modal {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  padding-right: 24px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:hover {
  border-color: var(--brand-color);
}

.input-modal:focus {
  border-color: var(--brand-color);
}

.icon-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--background-footer);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:hover + .icon-modal {
  fill: var(--brand-color);
}

.input-modal:focus + .icon-modal {
  fill: var(--brand-color);
}

.text-user {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.text-user:hover {
  border-color: var(--brand-color);
}

.text-user:focus {
  border-color: var(--brand-color);
}

.text-user::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.wrap-field {
  margin-bottom: 16px;
}

.wrap-fiel {
  margin-bottom: 24px;
}

.label-field-sel {
  color: var(--subtle-text);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
}

.link-policy {
  color: var(--brand-color);
  line-height: 1.33;
  text-decoration-line: underline;
  margin-left: 4px;
}

.chek {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.label-field-inp:checked + .label-field-sel .chek {
  border: none;
  background-color: var(--ocean);
  fill: var(--cloud);
}

.label-field-inp:hover + .label-field-sel .chek {
  border-color: var(--brand-color);
}

.label-field-inp:focus + .label-field-sel .chek {
  border-color: var(--brand-color);
}

.button-form {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: var(--brand-color);
  border: none;
  border-radius: 4px;
  color: var(--background);
  margin-left: 50%;
  transform: translateX(-50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-form:hover {
  background-color: var(--ocean);
}

.button-form:focus {
  background-color: var(--ocean);
}

/* **==========================portfolio======================= */
/* .filter-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background-color: var(--cloud);
  padding: 12px 24px;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  */

/* .filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}  */

/* .subtitle-upper {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  margin-bottom: 8px;
} */

/* .text-upper {
  letter-spacing: 0.02em;
} */

/*  */

/* 



/* .section-filter-list {
  display: flex;
  padding-top: 96px;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.section-filter-item {
  padding: 12px 24px;
}

.list-filter {
  display: flex;
  flex-wrap: wrap;
  padding-top: 96px;
  column-gap: 24px;
  row-gap: 48px;
  padding-bottom: 120px;
  margin-bottom: 0;
} */

/* .upper-item {
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-upper {
  color: #434455;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wraper-upper-imges {
  position: relative;
  overflow: hidden;
} */

/* .link-upper-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: var(--brand-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-upper:hover .link-upper-text {
  transform: translateY(0);
}

.link-upper:focus .link-upper-text {
  transform: translateY(0);
}

.link-upper:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-upper:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.product-filt {
  padding: 32px 16px;
  border: 1px solid var(--color-accent);
  border-top: none;
}

.section-filter {
  padding-top: 96px;
  padding-bottom: 120px;
}



/* !-------------------------delete-------------------- */

/* .mark {
  line-height: 1.5;
} */

/* .mark-text {
  letter-spacing: 0.02em;
} */
